In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import gzip

In [2]:
# Plotting gender stuff
df = pd.read_csv(gzip.open('data_cleaned/cleanedBigGun_gender.csv.gz'))
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,sum n_killed&n_injured,latitude,longitude,...,participant_name,participant_status,participant_type,# of Victims,# of Suspects,# of Male Victims,# of Female Victims,# of Male Suspects,# of Female Suspects,year
0,854799,2014-01-01,Florida,Milton,NaN,0,0,0,30.6884,-87.0480,...,0::Silvano Zaragoza-Ambriz||1::Kyle James Corbi,"0::Unharmed, Arrested||1::Unharmed, Arrested",0::Subject-Suspect||1::Subject-Suspect,0,2,NaN,NaN,2.0,0.0,2014
1,98134,2014-01-01,Louisiana,Marrero,6100 block of Ray St,1,0,1,29.8862,-90.1087,...,0::Sgt. Joseph Anderson||1::Darwin Bethune,0::Killed||1::Unharmed,0::Victim||1::Subject-Suspect,1,1,1.0,0.0,1.0,0.0,2014
2,92563,2014-01-01,Mississippi,Bogue Chitto,1347 Brumfield Rd SW,1,0,1,31.3762,-90.5601,...,0::Karlianna Celeste Brumfield,0::Killed||1::Unharmed,0::Victim||1::Subject-Suspect,1,1,0.0,1.0,1.0,0.0,2014
3,97976,2014-01-01,Hawaii,Lihue,NaN,1,0,1,21.9986,-159.3560,...,0::Amby Cruz||1::Giovani Corpuz,0::Killed||1::Unharmed,0::Victim||1::Subject-Suspect,1,1,1.0,0.0,1.0,0.0,2014
4,92117,2014-01-01,Kentucky,Cynthiana,NaN,0,1,1,38.4333,-84.3542,...,0::Dustin Mullins||1::Timothy Turner,"0::Injured||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,1,1,1.0,0.0,1.0,0.0,2014

In [3]:
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'sum n_killed&n_injured', 'latitude', 'longitude',
       'n_guns_involved', 'STATE', 'gun_type', 'incident_characteristics',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_status', 'participant_type',
       '# of Victims', '# of Suspects', '# of Male Victims',
       '# of Female Victims', '# of Male Suspects', '# of Female Suspects',
       'year'],
      dtype='object')

In [17]:
data = pd.DataFrame(df.groupby('year').sum()['# of Male Victims'])
data['# of Female Victims'] = df.groupby('year').sum()['# of Female Victims']
data['# of Male Suspects'] = df.groupby('year').sum()['# of Male Suspects']
data['# of Female Suspects'] = df.groupby('year').sum()['# of Female Suspects']
data.reset_index(inplace = True)
data.rename(columns={"year": "Year"}, inplace = True)
data

,Year,# of Male Victims,# of Female Victims,# of Male Suspects,# of Female Suspects
0,2014,1953.0,630.0,3140.0,235.0
1,2015,4950.0,1720.0,12230.0,1099.0
2,2016,10373.0,3000.0,19874.0,1678.0
3,2017,15198.0,3633.0,26085.0,2241.0
4,2018,3111.0,819.0,6014.0,547.0

In [55]:
from bokeh.core.properties import value
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.plotting import figure
from bokeh.palettes import Spectral5
from bokeh.transform import factor_cmap

output_file("bars.html")

data.Year = data.Year.astype(str)
data['# of Male Victims'] = data['# of Male Victims'].astype(str)
data['# of Female Victims'] = data['# of Female Victims'].astype(str)

source = ColumnDataSource(data)

p = figure(plot_width=800, plot_height=300, title="TEST",
           x_range=data.Year.tolist(), toolbar_location=None, tools="")

l = ['# of Male Victims', '# of Female Victims']

# p.vbar_stack(years, x='fruits', width=0.9, color=colors, source=source,
#              legend=[value(x) for x in years])

p.vbar_stack(l, x='Year', width=0.8, color=["black", "red"], source=source, legend=[value(x) for x in l])
# p.vbar(x='Year', top='# of Male Victims', width=.5, source=source,
#        line_color="white", fill_color='lightskyblue')

p.y_range.start = 0
p.x_range.range_padding = 0.05
p.xgrid.grid_line_color = None
p.xaxis.axis_label = "Year"
#p.xaxis.major_label_orientation = 1.2
p.outline_line_color = None

# p.add_tools(HoverTool(tooltips=[("Year", "@Year"), ("# of Male Victims", "@{# of Male Victims}{f}")]))

show(p)

E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: 2014 [renderer: GlyphRenderer(id='25549390-5a1e-4f0c-90d4-600e11221b6c', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: 2014 [renderer: GlyphRenderer(id='a9fb94c9-1089-4344-a802-e2e85c9cbb0e', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='6f152733-402c-4788-bbef-c5251b830347', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='f87ac8bb-5339-4a09-988b-e06421971ede', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='868ebe10-ed7a-4cd2-8211-3837882ebdad', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='cc2e2f8b-f28b-4d67-8bfd-abff66d4b296', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='d59341ca-e8d6-43f3-8db6-c1d448882253', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='f6aa48dc-5d83-4d53-b689-3a32b4194bde', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='ce554fd4-bd23-4872-87c5-e8614b8e7009', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='e14d4be6-0023-4247-a56f-799c303c04ba', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='00be68b4-dd93-4cfc-a77e-985afb42fee4', ...)]
E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: Years [renderer: GlyphRenderer(id='76d0554c-f868-462c-a891-d5ad25bc08eb', ...)]